
// ------------------------------------------
// Bootstrap
// ------------------------------------------

// Types
$font-family-base: sans-serif

// Alert
$alert-padding-y: .50rem

// Breadcrumb
$breadcrumb-bg:            #888
$breadcrumb-divider:       quote('»')
$breadcrumb-padding-y:     .20rem
$breadcrumb-divider-color: #fff
$breadcrumb-active-color:  #fff

// Table
$table-cell-padding-sm: .1rem



// ------------------------------------------
// Settings of app
// ------------------------------------------

// Variables
// ---------------------

// Color
$white: #fff !default
$gray-350: #dcdcdc !default
$gray-450: #ccc !default
$linear-gradient-bg: linear-gradient($white, $gray-350) !default //#dcdcdc

//  Alert
$alert-panel-margin-top: - .20rem !default

//  Table
$table-phpmyadmin-cell-padding-sm: $table-cell-padding-sm + .2rem !default


// Extends
// ---------------------
%bg-phpmyadmin
  background: $linear-gradient-bg

%text-phpmyadmin
  color: #235a81
  text-shadow: 0 1px 0 $white
