// ---------------------
// Component Nav
// ---------------------


//
// Style PHPMyAdmin
.nav-bar
  background: linear-gradient($white, $gray-350) //#dcdcdc

  .nav-item + .nav-item
    border-right: 1px solid $white
    border-left: 1px solid $gray-450

  .nav-link
    // Color
    color: #235a81

    // Type
    text-shadow: 0 1px 0 $white

    &.active
      background-color: $white
