
// --------------------------------------------
// Modules
// --------------------------------------------
// @import 'normalize'

@import 'bootstrap-4-stylus/includes/*.styl'
@import 'stylus-normalize/normalize'
@import './layout'

*
  background-color rgba(0,0,0, .07)

body
  background-color lightgrey
