
// --------------------------------------------
// Modules
// --------------------------------------------
// @import 'normalize'

@import 'stylus-normalize/normalize'
@import 'bootstrap-4-stylus/bootstrap'
@import './layout'

*
  background-color rgba(0,0,0, .03)

body
  background-color #FFF
  color #333
