// --------------------------------------------
// Custom of modules
// --------------------------------------------
@import './settings'
@import './mixins'
@import './custom'
@import './generics'

// --------------------------------------------
// Modules
// --------------------------------------------
@import 'bootstrap-4-stylus/bootstrap'

// --------------------------------------------
// Layout
// --------------------------------------------
@import './layout'


// --------------------------------------------
// Components
// --------------------------------------------
// @import './alert'
@import './breadcrumb'
// @import './filter'
@import './nav'


// *
//   background-color rgba(0,0,0, .01)

body
  background-color #FFF
  color #333
