// ======================
// Component - Breadcrumb
// ======================

// Types
$breadcrumb-padding   ?= 5px 10px


// Breadcrumb
// ======================
.breadcrumb
  padding $breadcrumb-padding

  &-item + &-item
    &:before
      content '»'
