// ======================
// Component - Filter
// ======================

// IndexedDBD
// ======================
.filter
  select, button
    font-size 90%
    height initial !important

  label
    font-size 90%

  button
    padding 5px 10px
    font-weight bold

  button + button
    margin-left 5px

  select
    padding 5px

  &.indexedbd
    .col-auto
      border-right 2px solid #999







