// --------------------------------------------
// Layout
// --------------------------------------------
.l-container
  display grid
  grid-template-columns 2fr 8fr
  grid-template-rows auto 10fr
  grid-gap 2px

.l-masthead
  grid-column 2
  grid-row auto

.l-aside
  grid-column 1
  grid-row 1/3

.l-main
  grid-column 2
  grid-row 2

