// ======================
// Component - Navigation
// ======================

// Types
$nav-font-size    ?= percentToRem(90%)

// Box & Display
$nav-border-item  ?= 1px solid $white


// Navigation
// ======================
.nav
  a
    font-size $nav-font-size

  .nav-item
    border-right $nav-border-item




