// ======================
// Settings
// ======================


// ======================
// Bases
// ======================
$base-rem ?= 1


// ======================
// Typography
// ======================
$small-font-size ?= 75%
